{% for i in range(max_num) %}
<div class="fileinput fileinput-new" data-provides="fileinput">
  {{ i+1 }}.
  <div class="fileinput-new thumbnail" style="width: {{ preview_size[0] }}px; height: {{ preview_size[1] }}px;">
  </div>
  <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: {{ preview_size[0] }}px; max-height: {{ preview_size[1] }}px;"></div>
  <!--<div>-->
    <span class="btn btn-default btn-file"><span class="fileinput-new">{{ _('Select File') }}</span><span class="fileinput-exists">{{ _('Change') }}</span>
      <input type="file" name="{{ field_name }}" multiple='multiple' {% if disabled %}disabled{% endif %}>
    </span>
    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">{{ _('Remove') }}</a>
  <!--</div>-->
</div>
{% endfor %}
